h2,
.h2 {
  font-size: calc(0.8rem + 0.9vw);
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.my-header {
  padding: 20px;
  background: #0d6efd;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
}

.row {
  min-height: calc(100vh - 94px - 56px); /* visina hedera - futera */
}

.table {
  --bs-table-striped-bg: rgb(13, 110, 253, 0.1);
  --bs-table-hover-bg: rgba(13, 110, 253, 0.2);
}

.bg-primary {
  color: white;
  background-color: #0d6efd !important;
}

.standings-bg {
  background-color: #d10214;
  color: white;
}

.standings-bg:hover,
.standings-bg:active {
  background-color: #a02626;
  color: white;
}

.class_padding {
  padding-bottom: 5px;
  text-align: center;
}

.link-title {
  color: #212529;
}

.link-title:hover,
.link-title:active {
  color: #212529;
  text-decoration: none;
}

.footer {
  padding: 0.5rem;
  background: #0d6efd;
  text-align: center;
  color: #fff;
}

.relegation-color {
  background-color: #f85050 !important;
}

.relegation-color-2 {
  background-color: #ff8888 !important;
}

.card-text {
  text-align: justify;
}
